html {
  margin: 0;
  padding: 0;
} 

body {
  background-color: #264965;
  font-family: Georgia, Times, serif;
  margin: 0;
  padding: 0;
  text-align: center
}

h1 {
  font-family: Georgia, Times, Geneva, Arial;
}

a: link {
  color: #B53B24;
}

a: visited {
  color: #264965;
}

#page-container {
  background-color: #264965;
  width: 800px;
  margin: 0 auto;
}

#header {
  background: #B53B24;
  height: 60px;
  padding: 10;
  color: white;
}

#header a {
  color: white;
  text-decoration: none;
  hover: #264965;
}

#description {
  background: #00FF00;
  padding-right: 10;
  padding-left: 10;
  padding-top: 4;
  padding-bottom: 2;
}

#social-container {
  background: #008880;
  float: bottom;
  height: 50px;
  padding: 2px;  
}

#form-container {
  background: #999900;
  clear: both;
  padding-left: 10;
}

#powered-by {
  background: #990000;
  padding: 5;
}

#footer {
  height: 30px;
  background: #656620;
}

#footer a {
  font-family: Georgia, Times, serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 6px;
  padding-right: 30px;
  color: white;
  text-decoration: none;
  hover: #264965;
}